@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import './satoshi.css';
@import './general-sans.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .card-img {
        width: 100vw;
        height: auto;
    }
    .ext-link:hover .arrow-link{
        visibility: visible;
    }
    .arrow-link {
        pointer-events: none
    }
}

@media screen and (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
}